<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>DHWJ 王伟杰</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.1.0/css/bulma.min.css">
  <link rel="stylesheet" type="text/css" href="../css/profile.css">
</head>

<body>

  <div class="container profile">

    <div class="section profile-heading">
      <div class="columns">
        <div class="column is-2">
          <div class="image is-128x128 avatar">
            <img src="http://i.imgur.com/Y5tVY7L.jpg">
          </div>
        </div>
        <div class="column is-4 name">
          <p>
            <span class="title is-bold">Desmond Heng Wei Jie  <br>王伟杰</span>
            <span class="title is-bold"></span>
          </p>
          <p class="tagline">I am an aspiring web developer. I believe that learning is a never ending journey.</p>
        </div>
        <div class="column is-4">
          <div class="container">
            <span class="tag is-dark">#ruby</span>
            <span class="tag is-dark">#javascript</span>
            <span class="tag is-dark">#html</span>
            <span class="tag is-dark">#css</span>
            <br><span class="tag is-dark">#node.js</span>
            <span class="tag is-dark">#express</span>
            <span class="tag is-dark">#rails</span>
            <span class="tag is-dark">#vue.js</span>
            <br><span class="tag is-dark">#sql</span>
            <span class="tag is-dark">#mongoDB</span>
            <span class="tag is-dark">#nosql</span>
            <span class="tag is-dark">#devise</span>
            <br><span class="tag is-dark">#bcrypt</span>
            <span class="tag is-dark">#passport</span>
            <span class="tag is-dark">#github</span>
            <span class="tag is-dark">#bootstrap</span>
            <br><span class="tag is-dark">#bulma</span>
            <span class="tag is-dark">#heroku</span>
            <span class="tag is-dark">#wireframing</span>




          </div>
        </div>
      </div>


      <div class="box">
        <!-- Main container -->
        <nav class="level">
          <!-- Left side -->
          <div class="level-left">
            <div class="level-item">
              <p class="subtitle is-5">
                <strong>Portfolio</strong>
              </p>
            </div>
            <div class="level-item">
              <p class="control has-addons">

              </p>
            </div>
          </div>
      </div>

      <div class="hero-body">
         <div class="container has-text-centered">
           <div class="columns is-vcentered">
             <div class="column is-5">
               <figure class="image is-4by3">
                 <img src="https://media.giphy.com/media/BksAR0TbCW544/giphy.gif" alt="Description">
               </figure>
             </div>
             <div class="column is-6 is-offset-1">
               <h1 class="title is-2">
                 DS Recruitment
               </h1>
               <h2 class="subtitle is-4">
                 Let this cover page describe a product or service.
               </h2>
               <br>
               <p class="has-text-centered">
               </p>
             </div>
           </div>
         </div>
       </div>
       <div class="hero-body">
          <div class="container has-text-centered">
            <div class="columns is-vcentered">
              <div class="column is-5">
                <figure class="image is-4by3">
                  <img src="http://placehold.it/800x600" alt="Description">
                </figure>
              </div>
              <div class="column is-6 is-offset-1">
                <h1 class="title is-2">
                  Commonplaces
                </h1>
                <h2 class="subtitle is-4">
                  Let this cover page describe a product or service.
                </h2>
                <br>
                <p class="has-text-centered">
                </p>
              </div>
            </div>
          </div>
        </div>

     </section>
     <script async type="text/javascript" src="../js/bulma.js"></script>
   </body>
   </html>
