<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>DHWJ 王伟杰</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.1.0/css/bulma.min.css">
        <link rel="stylesheet" type="text/css" href="../css/profile.css">
    </head>

    <body>

        <div class="container profile">

            <div class="section profile-heading">
                <div class="columns">
                    <div class="column is-2">
                        <div class="image is-128x128 avatar">
                            <img src="http://i.imgur.com/Y5tVY7L.jpg">
                        </div>
                    </div>
                    <div class="column is-4 name">
                        <p>
                            <span class="title is-bold">Desmond Heng Wei Jie
                                <br>王伟杰</span>
                            <br>desmondhengwj@gmail.com / +65 9617 8647
                            <span class="title is-bold"></span>
                        </p>
                        <p class="tagline">I am an aspiring web developer. I believe that learning is a never ending journey. I love Ruby on Rails. I hope to learn Swift & Java in the near future and be able to create mobile apps.
                        </p>

                    </div><br>
                    <div class="column is-4">

                        <span class="tag is-dark">#ruby</span>
                        <span class="tag is-dark">#javascript</span>
                        <span class="tag is-dark">#html</span>
                        <span class="tag is-dark">#css</span>
                        <br><br>
                        <span class="tag is-dark">#node.js</span>
                        <span class="tag is-dark">#express</span>
                        <span class="tag is-dark">#rails</span>
                        <span class="tag is-dark">#vue.js</span>
                        <br><br>
                        <span class="tag is-dark">#sql</span>
                        <span class="tag is-dark">#mongoDB</span>
                        <span class="tag is-dark">#nosql</span>
                        <span class="tag is-dark">#devise</span>
                        <br><br>
                        <span class="tag is-dark">#bcrypt</span>
                        <span class="tag is-dark">#passport</span>
                        <span class="tag is-dark">#github</span>
                        <span class="tag is-dark">#bootstrap</span>
                        <br><br>
                        <span class="tag is-dark">#bulma</span>
                        <span class="tag is-dark">#heroku</span>
                        <span class="tag is-dark">#wireframing</span>

                    </div>

                </div>
            </div>

            <div class="box">
                <!-- Main container -->
                <nav class="level">
                    <!-- Left side -->
                    <div class="level-left">
                        <div class="level-item">
                            <p class="subtitle is-5">
                                <strong>Portfolio</strong>
                            </p>
                        </div>
                        <div class="level-item">
                            <p class="control has-addons"></p>
                        </div>
                    </div>
                </div>

                <div class="hero-body">
                    <div class="container has-text-centered">
                        <div class="columns is-vcentered">
                            <div class="column is-5">
                                <img src="https://media.giphy.com/media/JVAg9YjKDSsZa/giphy.gif" alt="Description">
                            </div>
                            <div class="column is-6 is-offset-1">
                                <h1 class="title is-2">
                                    DS Recruitment
                                </h1>
                                <h2 class="subtitle is-4">
                                    The app provides a platform for a recruitment company to post on-demand jobs and allows employees to register and book the slots.
                                </h2>
                                <br>
                                <p class="has-text-centered"></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="hero-body">
                    <div class="container has-text-centered">
                        <div class="columns is-vcentered">
                            <div class="column is-5">
                                <img src="https://media.giphy.com/media/25YWu6Gg4n53G/giphy.gif" alt="Description">
                            </div>
                            <div class="column is-6 is-offset-1">
                                <h1 class="title is-2">
                                    Commonplaces
                                </h1>
                                <h2 class="subtitle is-4">
                                    The app provides a platform for households to be able to book ad-hoc services like dry-cleaning and tailoring.
                                </h2>
                                <h4 class="subtitle is-6">
                                    Built with Wong Shi Mei & Andre The
                                </h4>
                                <br>
                                <p class="has-text-centered"></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="hero-foot">
                    <div class="container">
                        <div class="tabs is-centered">
                            <ul>
                                <li>
                                    <a href="https://github.com/desmondhengwj"><img src="http://i.imgur.com/1lHMzZ9.png" alt="GitHub Logo"></a>
                                </li>
                                <li>
                                    <a href="https://www.linkedin.com/in/desmondhengwj/"><img src="http://i.imgur.com/GLTin9U.png" alt="Linkedin Logo"></a>
                                </li>
                                <li>
                                    <a href="mailto:desmondhengwj@gmail.com"><img src="http://i.imgur.com/mEzhNwX.png" alt="Email Logo"></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

            </section>
            <script async type="text/javascript" src="../js/bulma.js"></script>
        </body>
    </html>
